body {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 3em;
    text-align: center;
}
.chatapp-logo {
    display: block;
    width: 20%;
    margin: auto;
}

p {
    font-size: 1.5em;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #1d65df;
}
a:hover {
    border-bottom: 1px dashed #1d65df;
}

footer p::before {
    content: "— ";
}

footer p::after {
    content: " —";
}

footer p {
    text-align: center;
    font-size: 1em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    footer p {
        font-size: 0.8em;
    }
    .chatapp-logo {
        width: 50%;
    }
}