<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
    <title>ChatApp | About</title>
</head>
<body>
    <h1>ChatApp Server — API Backend for ChatApp</h1>
    <img class="chatapp-logo" src="/static/img/logo-pigeon.svg">
    <p>ChatApp Server is the backend service that powers the mobile application ChatApp. It provides a API that handles messaging, authentication, and chat channels functionalities for the app.</p>
    <p>This server was developed as part of an educational project in the Mobile Device Programming course at IFTM - Campus Uberaba Parque Tecnológico (UPT), taught by <a href="https://github.com/ViniciusFM" target="_blank">Vinícius F. Maciel</a>. Both the ChatApp mobile client and the ChatApp Server backend were designed to explore development practices in mobile and web technologies.</p>
    <p>The server is released under the <a href="https://choosealicense.com/licenses/agpl-3.0/" target="_blank"> GNU Affero General Public License (AGPLv3)</a>, ensuring transparency, open collaboration, and access to the source code for further learning and improvement.</p>
    <footer>
        <p>Check the ChatApp Server project at <a href="https://github.com/ViniciusFM/ChatApp-Server" target="_blank">GitHub</a></p>
    </footer>
</body>
</html>