<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="ChatApp | Channel invitation">
    <meta property="og:description" content="You've been invited for a ChatApp channel, click here to enter this channel.">
    <meta property="og:image" content="{{request.url_root}}/static/img/logo-pigeon.png">
    <meta property="og:url" content="{{request.url_root}}">
    <meta property="og:type" content="website">
    <meta property="og:updated_time" content="{{timenow}}" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ChatApp | Channel invitation">
    <meta name="twitter:description" content="ChatApp Backend: messaging, authentication, and channels. Educational project by IFTM.">
    <meta name="twitter:image" content="{{request.url_root}}/static/img/logo-pigeon.png">

    <link rel="icon" href="/static/img/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/button.css">
    <title>ChatApp | Channel invitation</title>
</head>
<body>
    {% if wrong_captcha %}
    <p class="wrong-captcha"> Wrong captcha, try again! </p>
    {% endif %}
    {% if captcha %}
        <h1>You need to Captcha first!</h1>
        <form class="captcha-form" method="post">
            <fieldset>
                {{ captcha_html(captcha)|safe }}
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    {% else %}
        {% if not_exist %}
            <h1>This channel does not exist.</h1>
            <img class="chatapp-logo" src="/static/img/sad-pigeon.svg">
            <p style="text-align: center;">Please consider asking for the channel's admin for a new invitation.</p>
        {% else %}
            <h1>You've been invited for a channel</h1>
            <img class="chatapp-logo" src="/static/img/logo-pigeon.svg">
            <p style="text-align: center;">Someone invited you to participate on <b>{{channel_name}}</b> channel.</p>
            <button id="participate-button" class="blue-btn" role="button" onclick="redirect_uri()">Click here to Participate!</button>
        {% endif %}
    {% endif %}

    <footer>
        <p>Check the ChatApp Server project at <a href="https://github.com/ViniciusFM/ChatApp-Server" target="_blank">GitHub</a></p>
    </footer>
    
    {% if not captcha and not not_exist %}
    <script>
        function redirect_uri() {
            window.location.href = 'chatapp://invite/{{uuid}}';
        }
    </script>
    {% endif %}
</body>
</html>
